.items-list {
  &__item {
    cursor: pointer;
    background: $white;
    &:hover {
      background: $primary-light;
    }
  }
  &__itemDate {
    font-size: 14px;
  }
}

.items-list__empty {
  img {
    height: 150px;
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
  }
}
