.c-sidebar {
  width: 300px;

  &__container {
    height: 100vh;
    position: fixed;
    left: 0px;
    width: inherit;
    z-index: 300;
    background: $white;
    box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.01);
  }

  &__menu {
    li {
      a {
        display: block;
        padding: 0.5rem 1rem;

        &.active {
          background: $primary-light;
          border-radius: 4px;
          color: $primary;
          font-weight: 700;
        }
      }

      span {
        margin-left: 1rem;
        font-size: 14px;
      }
    }
  }
}
